config ARCH_MB86S7X
	bool "Socionext MB86S7x SoCs"
	depends on ARCH_MULTI_V7
	select ARM_AMBA
	select ARM_GLOBAL_TIMER
	select ARM_GIC
	select HAVE_ARM_SCU
	select HAVE_ARM_TWD if SMP
	help
	  Support for MB86S71 SoC family developed by Socionext Inc.
