/*
 * Spansion/Cypress SK-FM4-176L-S6E2CC-ETH
 *
 * Copyright (c) 2015-2017 Andreas Färber
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/dts-v1/;

#include "fm4-s6e2cca.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Cypress SK-FM4-176L-S6E2CC-ETH";
	compatible = "cypress,fm4";

	aliases {
		serial0 = &mfs0;
	};

	chosen {
		bootargs = "console=ttyFM0,115200n8 earlycon ignore_loglevel ihash_entries=64 dhash_entries=64 uclinux.physaddr=0x00180000 root=/dev/mtdblock0 init=/bin/sh";
		stdout-path = "serial0:115200n8";
	};

	memory@60000000 {
		reg = <0x60000000 0x00200000>;
	};

	main_osc: main-osc-clk {
		compatible = "fixed-clock";
		clock-frequency = <4000000>;
		#clock-cells = <0>;
	};

	sub_osc: sub-osc-clk {
		compatible = "fixed-clock";
		clock-frequency = <32768>;
		#clock-cells = <0>;
	};

	leds {
		compatible = "gpio-leds";

		led4-r {
			label = "led4:red";
			gpios = <&gpio 0x1 0xa GPIO_ACTIVE_LOW>;
		};

		led4-g {
			label = "led4:green";
			gpios = <&gpio 0xb 0x2 GPIO_ACTIVE_LOW>;
		};

		led4-b {
			label = "led4:blue";
			gpios = <&gpio 0x1 0x8 GPIO_ACTIVE_LOW>;
			default-state = "on";
			/*linux,default-trigger = "heartbeat";*/
		};

		tx {
			label = "tx:yellow";
			gpios = <&gpio 0x6 0xe GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&can0 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&can_fd {
	status = "okay";
};

/*&can_prescaler {
	assigned-clocks = <&can_prescaler>;
	assigned-clock-rates = <40000000>;
};*/

&cgu {
	clocks = <&main_osc>, <&sub_osc>;
	clock-names = "CLKMO", "CLKSO";
};

&ethernet0 {
	status = "okay";
	snps,reset-gpio = <&gpio 0x6 0xa GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 1000000>;
	phy-mode = "mii";
	phy-handle = <&phy>;

	phy: ethernet-phy@7 {
		reg = <7>;
	};
};

&mfs0 {
	status = "okay";
};
