/*
 * Device tree for Spansion/Cypress FM4
 *
 * Copyright (c) 2015-2017 Andreas Färber
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

#include "armv7-m.dtsi"

/ {
	compatible = "cypress,fm4";
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
	};

	chosen {
	};

	memory@60000000 {
		device_type = "memory";
		reg = <0x60000000 0x0>;
	};

	soc {
		interrupt-parent = <&intc>;

		cgu: clk@40010000 {
			compatible = "cypress,fm4-crg";
			reg = <0x40010000 0x1000>;
			#clock-cells = <1>;
		};

		dual_timer: timer@40015000 {
			compatible = "cypress,fm4-dual-timer";
			reg = <0x40015000 0x1000>;
			clocks = <&cgu 1>;
			interrupts = <47 0>;
		};

		intc: interrupt-controller@40031000 {
			compatible = "cypress,fm4-intc";
			reg = <0x40031000 0x1000>;
			interrupt-parent = <&nvic>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};
};

&systick {
	status = "okay";
	clocks = <&cgu 1>;
};
