/*
 * Copyright (C) 2015-2016 Socionext Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/thermal/thermal.h>

#include "mb86s71.dtsi"

/ {
	model = "Socionext MB86S71 EVB";
	compatible = "fujitsu,mb86s71eb","fujitsu,mb86s71";

	memory {
		device_type = "memory";
		reg = <0 0x80000000 0x80000000>;
	};

	chosen {
		bootargs = "shm_offset=2048 loglevel=4 console=ttyAMA0,115200 root=/dev/mmcblk1p1 rootfstype=ext4 rootwait rw pcie_ports=native ";

		linux,initrd-start = <0x88000000>;
		linux,initrd-end =   <0x88800000>;
		/* Backward compatibility for 2016.03-1-1 */
		/* linux,initrd-start = <0xc0000000>; */
		/* linux,initrd-end =   <0xc0800000>; */
	};

	gpio0: mb86s70_gpio0 {
		compatible = "fujitsu,mb86s70-gpio";
		reg = <0 0x31000000 0x10000>;
		gpio-controller;
		#gpio-cells = <2>;
		clocks = <&clk_alw_5_8>;
		base = <0>;
		resume_function_enabled = <24>, <25> , <26>, <27>, <28>, <29>,
			<30>, <31>;
		power-domains = <&power 1>;
	};
	gpio1: mb86s70_gpio1 {
		compatible = "fujitsu,mb86s70-gpio";
		reg = <0 0x31010000 0x10000>;
		gpio-controller;
		#gpio-cells = <2>;
		clocks = <&clk_alw_5_8>;
		base = <32>;
		resume_function_enabled = <36>, <37>, <38>, <39>;
		power-domains = <&power 1>;
	};

	gpio-keys {
		compatible = "gpio-keys-polled";
		poll-interval = <20>;

		home {
			label = "Home";
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
			linux,code = <102>;
			gpio-key;
		};
		power {
			label = "Power";
			gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
			linux,code = <28>;
			gpio-key;
		};
		up {
			label = "Up";
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
			linux,code = <103>;
			gpio-key;
		};
		down {
			label = "Down";
			gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
			linux,code = <108>;
			gpio-key;
		};
	};

	videomodes@0 {
		compatible = "video-modes";
		mode0: mode@0 {
			mode  = "1280x768x32bpp";
			hactive = <1280>; /* htotal 1440 (+160) */
			vactive = <768>; /* Vtotal 790 (+22) */
			hback-porch = <8>;
			hfront-porch = <136>;
			hsync-len = <16>;
			vback-porch = <12>;
			vfront-porch = <3>;
			vsync-len = <7>;
			flags = <0x25>; /* h low, v low, de high */
			clock = <71400>; /* 71.4MHz link clock */
			bpp = <32>;
			width-mm = <196>;
			height-mm = <117>;
			/* scanout-rotation = <0>; */
			red_offset      = <16>;
			red_length      = <8>;
			green_offset    = <8>;
			green_length    = <8>;
			blue_offset     = <0>;
			blue_length     = <8>;
			alpha_offset    = <0>;
			alpha_length    = <0>;
		};
	};

	i2c0 {
		compatible = "fujitsu,f_i2c";
		reg = <0 0x31200000 0x10000>;
		interrupts = <0 312 0x4>;
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <100000>;
		clocks = <&clk_alw_5_8>;
		power-domains = <&power 1>;

		wm8973: wm8973@1a {
			compatible = "wolfson,wm8973";
			reg = <0x1a>;
		};

		/* default to fan always on high, even during suspend */
		amc6821: amc6821@2e {
			status = "ok";
			compatible = "ti,amc6821";
			reg = <0x2e>;
			low_temp = <0x10>; // unreasonably low target temp == fan always on high
			pwminv = <1>;      //  1, inverted PWM output
			fan_char = <0x25>;
		};
		/* alternative fan profile: fan responds to temperature + off in suspend */
		amc6821a: amc6821a@2e {
			status = "disabled";
			compatible = "ti,amc6821";
			reg = <0x2e>;
			low_temp = <0x41>; // 32 degrees C
			pwminv = <1>;      //  1, inverted PWM output
			fan_char = <0x25>;
			off-in-suspend; // stop fan during suspend
		};

	};

	i2c1 {
		compatible = "fujitsu,f_i2c";
		reg = <0 0x31210000 0x10000>;
		interrupts = <0 313 0x4>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&clk_alw_5_8>;
		clock-frequency = <100000>;
		power-domains = <&power 1>;

		sc16is750: sc16is750@48 {
			compatible = "nxp,sc16is750";
			reg = <0x48>;
			fixed-clk-freq = <1843200>; /* 1.8432MHz */
			interrupts = <0 102 0x1>; /* PD54 - EXTINT22 shared */
			not-tty = <0>;
			gpio-controller;
			#gpio-cells = <2>;
		};

		sn65dsi84: sn65dsi84@2c {
			compatible = "sn65dsi84";
			reg = <0x2c>;
			lvds-clk-range = /bits/ 8 <0x2>;
			dsi-clk-divider = /bits/ 8 <0xd>;
			cha-dsi-lanes = /bits/ 8 <0x2>;
			cha-dsi-clk-range = /bits/ 8 <0x64>;
			de-neg-polarity = /bits/ 8 <0x0>;
			hs-neg-polarity = /bits/ 8 <0x1>;
			vs-neg-polarity = /bits/ 8 <0x1>;
			lvds-link-cfg = /bits/ 8 <0x1>;
			channel-a-24bpp = /bits/ 8 <0x1>;
			channel-b-24bpp = /bits/ 8 <0x0>;
			sync-delay = /bits/ 16 <32>;
		};
	};

	hsspi: hsspi.0 {
		compatible = "fujitsu,mb86s7x-hsspi";
		reg = <0 0x30010000 0x1000>,
		      <0 0x48000000 0x1000000>;
		interrupts = <0 361 0x4>,
			     <0 360 0x4>,
			     <0 362 0x4>;
		mode = <1>; // HS_SPI_DIRECT_MODE
		read_operation = <1>; // HS_SPI_NORMAL_READ
		write_operation = <5>; // HS_SPI_NORMAL_WRITE
		active_clk_edges;
		bank_size = <0x01000000>;	// 16MB flash bank
		num_chipselect = <2>;
		addr_width = <3>;
		dma_rx_dreq = <0x800000>; // XDDES_TF_DREQ6 !!! GUESSED
		dma_tx_dreq = <0x900000>; // XDDES_TF_DREQ7 !!! GUESSED
		dma_channel = <0>;
		sync_on = <1>;
		clock = <0>; // HS_SPI_HCLK
		clocks = <&clk_alw_1_8>, <&clk_main_6_8>;
		clock-names = "iHCLK", "iPCLK";
		#address-cells = <1>;
		#size-cells = <0>;

		flash@0 {
			compatible = "n25q512a";
			spi-max-frequency = <62500000>;
			spi-rx-bus-width = <4>;
			spi-tx-bus-width = <4>;
			reg = <0>;
			spi-cpha;
			spi-cpol;
			#address-cells = <1>;
			#size-cells = <1>;

			spipart0@0 {
				label = "scb-spi-firmware";
				reg = <0 0x200000>;
			};

			spipart1@1 {
				label = "spi-romfs";
				reg = <0x200000 0x100000>;
			};

			spipart2@2 {
				label = "spi-user0";
				reg = <0x300000 0xd00000>;
			};
		};

		flash@1 {
			compatible = "n25q512a";
			spi-max-frequency = <62500000>;
			spi-rx-bus-width = <4>;
			spi-tx-bus-width = <4>;
			spi-cpha;
			spi-cpol;
			reg = <1>;

			#address-cells = <1>;
			#size-cells = <1>;

			spipart0@0 {
				label = "spi-user1";
				reg = <0 0x1000000>;
			};
		};
	};

	gpio-flash@xcs4-gpio {
		status = "disabled";
		compatible = "gpio-control-nor";
		reg = <0 0x2a4d0000 0x10000>; /* prmux */
		#address-cells = <1>;
		#size-cells = <1>;
		bank-width = <2>;
		device-width = <2>;
		power-domains = <&power 1>;

		gpios = <&gpio0 30 0>,	/* rdy PD30 */
			 <&gpio0 8 0>, 	/* nce */
			 <&gpio0 10 0>, 	/* noe */
			 <&gpio0 13 0>, 	/* nwe */

			/* 16 data */

			<&gpio0 14 0>,
			<&gpio0 15 0>,
			<&gpio0 16 0>,
			<&gpio0 17 0>,
			<&gpio0 18 0>,
			<&gpio0 19 0>,
			<&gpio0 20 0>,
			<&gpio0 21 0>,
			<&gpio0 22 0>,
			<&gpio0 23 0>,
			<&gpio0 24 0>,
			<&gpio0 25 0>,
			<&gpio0 26 0>,
			<&gpio0 27 0>,
			<&gpio0 28 0>,
			<&gpio0 29 0>,

			/* as many address as we have (22) */

			<&gpio1 0 0>,
			<&gpio1 1 0>,
			<&gpio1 2 0>,
			<&gpio1 3 0>,
			<&gpio1 4 0>,
			<&gpio1 5 0>,
			<&gpio1 6 0>,
			<&gpio1 7 0>,
			<&gpio1 8 0>,
			<&gpio1 9 0>,
			<&gpio1 10 0>,
			<&gpio1 11 0>,
			<&gpio1 12 0>,
			<&gpio1 13 0>,
			<&gpio1 14 0>,
			<&gpio1 15 0>,
			<&gpio1 16 0>,
			<&gpio1 17 0>,
			<&gpio1 18 0>,
			<&gpio1 19 0>,
			<&gpio1 20 0>,
			<&gpio1 21 0>;

		firmware@0 { /* 2MByte firmware region */
			label = "firmware";
			reg = <0 0x200000>;
		};

		romfs@200000 { /* only 8MByte is addressable by gpio */
			label = "romfs";
			reg = <0x200000 0x5e0000>;
		};
		
	};

	flash@XSC4 {
		status = "disabled";
		compatible = "spansion,s29gl128p", "cfi-flash";
		reg = <0 0x40000000 0x01000000>;
		bank-width = <2>;
		device-width = <2>;
		power-domains = <&power 1>;
	};

	/* Enable only UART0 of S71-evb */
	serial@0x31040000 {
		status = "okay";
	};
	serial@0x31050000 {
		status = "disabled";
	};
	serial@0x31060000 {
		status = "disabled";
	};

	timer0: timer0@31080000 {
		#clock-cells = <1>;
		compatible = "arm,sp804";
		reg = <0 0x31080000 0x10000>;
		interrupts = <0 324 4>,
			     <0 325 4>;
		clocks = <&clk_alw_6_8>;
	};

	timer {
		compatible = "arm,armv7-timer";
		clock-frequency = <125000000>;
		interrupts = <1 13 0xf08>, /* PHYS Secure */
			     <1 14 0xf08>; /* PHYS Non-Secure */
	};

	backlight: gpio_backlight {
		compatible = "generic,gpio-backlight";
		enable-gpio = <&sc16is750 0 GPIO_ACTIVE_HIGH>;
	};

	touch: touch-wxga {
		compatible = "mitsubishi,tpcj4";
		bridge = <&sc16is750>;
		port = <0>;
		sample-rate = <0x3>;
		adjust = <0x1>;
		sensitivity = <0x1>;
	};
};

&videophy0 {
	bridge = <&sn65dsi84>;

	dsi_lanes = /bits/ 8 <2>; /* "real" number of lanes(PHY_IF_CFG.num_lanes + 1) */
	virtual_channel = /bits/ 8 <0>;

	txesc_clock_division = /bits/ 8 <4>;
	to_clock_division = /bits/ 8 <1>;

	/* DPI_CFG */
	dpi_color_coding = /bits/ 8 <7>;
	shutd_act_low = /bits/ 8 <0>;
	colorm_act_low = /bits/ 8 <0>;
	en18_loosely = /bits/ 8 <0>;

	/* VID_MODE_CFG */
	vid_mode_type = /bits/ 8 <3>;
	en_lp_vsa = /bits/ 8 <1>;
	en_lp_vbp = /bits/ 8 <1>;
	en_lp_vfp = /bits/ 8 <1>;
	en_lp_vact = /bits/ 8 <1>;
	en_lp_hbp = /bits/ 8 <1>;
	en_lp_hfp = /bits/ 8 <1>;
	en_multi_pkt = /bits/ 8 <0>;
	en_null_pkt = /bits/ 8 <0>;
	lpcmden = /bits/ 8 <0>;

	/* VID_PKT_CFG */
	/* vid_pkt_size /bits/ 16 *//* use display_timing.hactive.typ */
	num_chunks = /bits/ 16 <0>;
	null_pkt_size = /bits/ 16 <0>;

	/* TMR_LINE_CFG */
	/* calculated with display_timing */
	/* hsa_time /bits/ 16 */
	/* hbp_time /bits/ 16 */
	/* hline_time /bits/ 16 */

	/* VTIMING_CFG */
	/* calculated with display_timing */
	/* vsa_lines /bits/ 8 */
	/* vbp_lines /bits/ 8 */
	/* vfp_lines /bits/ 8 */
	/* v_active_lines /bits/ 16 */

	/* PHY_TMR_CFG */
	phy_lp2hstime = /bits/ 8 <34>;
	phy_hs2lptime = /bits/ 8 <24>;

	/* TO_CNT_CFG */
	hstx_to_cnt = /bits/ 16 <0>;

	/* PHY_IF_CFG */
	phy_stop_wait_time = /bits/ 8 <54>;

	/* PHY_IF_CTRL */
	phy_txrequestclkhs = /bits/ 8 <1>;

	/* LP_CMD_TIM */
	invact_lpcmd_time = /bits/ 8 <0>;
	outvact_lpcmd_time = /bits/ 8 <10>;

	/* PHY_SETUP_CL */
	sap_tlpx_c = /bits/ 8 <7>;
	sap_hs0_c = /bits/ 8 <35>;
	sap_trail_c = /bits/ 8 <10>;
	sap_pre_c = /bits/ 8 <0>;

	/* PHY_SETUP_DL */
	sap_tlpx_d = /bits/ 8 <7>;
	sap_hs0_d = /bits/ 8 <17>;
	sap_trail_d = /bits/ 8 <9>;
	sap_pre_d = /bits/ 8 <0>;
};


/* Video Port Selection */

/*
 These statuses are configured by boot loader automatically if "auto".
 If NOT "auto", the status is never changed by boot loader.
 Don't activate both MIPI-DSI Type and HDMI Type video ports simultaneously.
*/

&videophy0 { /* MIPI-DSI Type Video PHY configuration */
	status = "disabled";
	/* "okay":	MIPI-DSI Type video activated */
	/* "disabled":	MIPI-DSI Type video disabled */
	/* "auto":	Selscted MIPI-DSI Type or HDMI Type by boot loader */
};

&videophy1 { /* HDMI Type Video PHY configuration */
	status = "okay";
	/* "okay":	HDMI Type video activated */
	/* "disabled":	HDMI Type video disabled */
	/* "auto":	Selscted MIPI-DSI Type or HDMI Type by boot loader */
};

&fb0 {
	status = "disabled";
	/* "okay":	MIPI-DSI Type video activated */
	/* "disabled":	MIPI-DSI Type video disabled */
	/* "auto":	Selscted MIPI-DSI Type or HDMI Type by boot loader */

	/* EVB LCD timings / resolution (mipidsi) */
	mode  = "1280x768x32bpp";
};

&fb1 {
	status = "okay";
	/* "okay":	HDMI Type activated */
	/* "disabled":	HDMI Type disabled */
	/* "auto":	Selscted MIPI-DSI Type or HDMI Type by boot loader */
};

&fdbdrm0 {
	status = "okay";
	/* "okay":	Activated it */
	/* "disabled":	Disabled it */
	/* "auto":	Selscted MIPI-DSI Type or HDMI Type by boot loader */

	/* Don't remove following two address for boot loader auto video configuration. */
	fb0_addr = <&fb0>;
	fb1_addr = <&fb1>;
	bind = <&fb1>;
	/*  <0>:	To be configured &fb0 for MIPI-DSI Type or &fb1 for HDMI Type by boot loader. */
	/*  <&fb0>:	MIPI-DSI Type video activated with status okey */
	/*  <&fb1>:	HDMI Type video activated with status okey */


};


/* HDMI Type Audio configuration */
/* 
  HDMI Type audio can be used only with HDMI Type video configuration, so it
   cannot be used with MIPI-DSI Type video configuration.
*/


&f_hdmi_audio_dai {
	status = "okay";
	/* "okay":	HDMI Type audio activated */
	/* "disabled":	HDMI Type audio disabled */
	/* "auto":	Selscted by boot loader with HDMI Type video */
};

&f_hdmi_codec {
	status = "okay";
	/* "okay":	HDMI Type audio activated */
	/* "disabled":	HDMI Type audio disabled */
	/* "auto":	Selscted by boot loader with HDMI Type video */
};

&f_hdmi_audio {
	status = "okay";
	/* "okay":	HDMI Type audio activated */
	/* "disabled":	HDMI Type audio disabled */
	/* "auto":	Selscted by boot loader with HDMI Type video */
};


&sc16is750 {
	status = "disabled";
	/* "okay":	Activated it for MIPI-DSI Type video */
	/* "disabled":	MIPI-DSI Type video disabled */
	/* "auto":	Selscted by boot loader with MIPI-DSI Type video */
};

&sn65dsi84 {
	status = "disabled";
	/* "okay":	Activated it for MIPI-DSI Type video */
	/* "disabled":	MIPI-DSI Type video disabled */
	/* "auto":	Selscted by boot loader with MIPI-DSI Type video */
};

&backlight {
	status = "disabled";
	/* "okay":	Activated it for MIPI-DSI Type video */
	/* "disabled":	MIPI-DSI Type video disabled */
	/* "auto":	Selscted by boot loader with MIPI-DSI Type video */
};

&touch {
	status = "disabled";
	/* "okay":	Activated it for MIPI-DSI Type video */
	/* "disabled":	MIPI-DSI Type video disabled */
	/* "auto":	Selscted by boot loader with MIPI-DSI Type video */
};

&alsa {
	status = "disabled";
};
