/dts-v1/;
#include "xmc4500.dtsi"

/ {
	model = "Infineon XMC4500 Application Kit 'SDRAM'";
	compatible = "infineon,xmc4500-appkit-sdram", "infineon,xmc4500";

	chosen {
		bootargs = "console=ttyXMC0 earlyprintk ignore_loglevel debug clk_ignore_unused";
	};

	aliases {
		serial0 = &usic0_ch0;
	};

	memory {
		reg = <0x60000000 0x00800000>;
	};

	clocks {
		clk_xtal: xtal {
			compatible = "fixed-clock";
			clock-frequency = <12000000>;
			#clock-cells = <0>;
		};

		clk_xtal_rtc: xtal-rtc {
			compatible = "fixed-clock";
			clock-frequency = <32768>;
			#clock-cells = <0>;
		};
	};
};

&scu_ccu {
	clocks = <&clk_xtal>, <&clk_xtal_rtc>;
	clock-names = "xtal", "xtal_rtc";
};

&sdmmc {
	status = "okay";
	broken-cd;
	non-removable;
};

&usic0_ch0 {
	status = "okay";
};
