/*
 * Device tree for Infineon XMC4500
 */

#include "armv7-m.dtsi"

/ {
	soc {
		scu_ccu: clk@50004600 {
			compatible = "infineon,xmc4500-scu-ccu";
			reg = <0x50004600 0x200>;
			#clock-cells = <1>;
		};

		rtc: rtc@50004A00 {
			compatible = "infineon,xmc4500-rtc";
			reg = <0x50004A00 0x300>;
		};
	};
};

&systick {
	status = "okay";
	clocks = <&scu_ccu 0>;
};
